* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
  }
  
  #welcome-section {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(50deg, green 0%, black 100%); 
    font-size: 18px;
  }
  
  #logo{
    margin-left: 20px;
    padding: 20px;
    color: white;
    font-weight: bold;
  }
  
  #navbar{
    padding: 20px;
    margin-left: 30%;
  }
  
  .list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: auto;
  }
  
  .navlink{
    margin: 30px;
    text-decoration: none;
    color:white;
    font-weight: bold;
  }
  
  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    color: white;
    background-color: black;
    background-image: linear-gradient(45deg, black 50%, green 100%);
    font-size: 28px;
  }
  
  #about_me, #my_education, #projects, #contact{
    width: 100%;
    height: 100vh; 
    color: white;
    background-color: black;
    background-image: linear-gradient(45deg, black 50%, green 100%);
  }
  
  .me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
  }
  
  .education{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
  }
  
  .intro{
   margin-left: 100px;
   margin-right: 200px;
   font-size: 1.5rem;
   letter-spacing: 0.5px;
   row-gap: 1.5rem;
   line-height: 1.5;
   text-align: justify;
  }
  
  .info{
   margin-left: 200px;
   margin-right: 100px;
   font-size: 1.5rem;
   letter-spacing: 0.5px;
   row-gap: 1.5rem;
   line-height: 1.5;
   text-align: justify;
  }
  
  .info  a{
    text-decoration: none;
    color: blue;
  }
  
  .info p{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h3{
   padding-top:40px;
   padding-bottom: 40px; 
  }
  
  
  .my-picture-1{
    width: 300px;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 200px;
  }
  
  .my-picture-2{
    width: 300px;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 200px;
  }
  
  #projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
    align-items: center;
  }
  
  .pro-img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  
  .project-div { 
    text-align: center;
    background-color: white;
    padding: 1px 1px 20px 1px;
    border-radius: 3px; 
  }
  
  .project-div p{
    color: black;
    padding-top: 20px;
    font-size: 16px;
  }
  
  #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    color: white;
  }
  
  .social-icons{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    font-size: 30px;
    color: white;
  }
  
  .social-icons a{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
  }
  
  @media (max-width: 75em) {
      html {
          font-size: 60%;
      }
  }
  
  @media (max-width: 75em) {
      .pro-img {
          height: 300px;
          width: 300px;
      }
  }
  
  @media (max-width: 75em){
    #projects { 
          width: 100%;
          overflow-x: auto; /* Bật thanh cuộn ngang khi cần */
          display: flex;
          justify-content: center;
          max-width: 1400px;
          margin: 0 auto;
          padding: 20px 10px;     
    }
  }
  
  @media (max-width: 75em){
    .project-div{
      background-color: #0000;
      text-align: center; 
      margin-top: 10px;
      font-size: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 75em){
    .project-div p{
      color: white;
      text-align: center; 
      margin-top: 10px;
      font-size: 15px;
    }
  }